@media screen and (min-width: 768px) {
  #card-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #card-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

#card-layout {
  height: 90%;
  display: grid;

  margin-top: 10px;
}

.ui.image.card {
  max-height: 44vh;
  width: auto;
  margin-bottom: 10px;
}

.image {
  position: relative;
}

#centered {
  position: absolute;
  color: white;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
}

h1 {
  margin-top: 0px;
  text-align: center;
  height: auto;
  width: auto;
}
