#card-layout {
  height: 90%;
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.ui.image.card {
  max-height: 38vh;
  width: auto;

  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .ui.image.card {
    max-height: 36vh;
    width: auto;

    margin-bottom: 10px;
  }

  #centered {
    position: absolute;
    color: white;
    top: 34% !important;
    left: 32% !important;
    right: 32% !important;
  }
}

.ui.card {
  padding-bottom: 0 !important;
}

.image {
  position: relative;
}

#centered {
  position: absolute;
  color: white;
  top: 36%;
  left: 36%;
  right: 36%;
}

h1 {
  margin: 0;
}
